{% extends 'seller/seller_header.html' %}
{% load static %}
{% block content %}

<div class="container" style="background-color: aliceblue;">
    <div>
        <br><center><h2 style="color: darkgreen;">Bookings</h2></center><br>
        
    </div>
    <div class="row">
        <div class="col-4 booking">
            <center>
            <h5>Amanda Chavez</h5>
            Check-In Date
            <h6>25 Aug 2022</h6>
            Check-Out Date
            <h6>27 Aug 2022</h6>
            Time In
            <h6>10:00 AM</h6>
            Time Out
            <h6>10:00 AM</h6><hr>
            <button class="accept-booking-btn">Confirm</button>
            <button class="reject-booking-btn">Cancel</button>
            </center><br>
        </div><br>

        <div class="col-4 booking">
            <center>
            <h5>Randy Elliot</h5>
            Check-In Date
            <h6>29 Aug 2022</h6>
            Check-Out Date
            <h6>30 Aug 2022</h6>
            Time In
            <h6>9:00 AM</h6>
            Time Out
            <h6>10:00 AM</h6><hr>
            <button class="accept-booking-btn">Confirm</button>
            <button class="reject-booking-btn">Cancel</button>
            </center><br>
        </div><br>
    </div>
    <div class="row">
        <div class="col-4 booking">
            <center>
            <h5>Jasmine Plamer</h5>
            Check-In Date
            <h6>1 Sept 2022</h6>
            Check-Out Date
            <h6>2 Sept 2022</h6>
            Time In
            <h6>9:00 AM</h6>
            Time Out
            <h6>10:00 AM</h6><hr>
            <button class="accept-booking-btn">Confirm</button>
            <button class="reject-booking-btn">Cancel</button>
            </center><br>
        </div>
    </div>
</div>

{% endblock %}