{% extends 'seller/seller_header.html' %}
{% load static %}
{% block content %}

  <div class="container">
    <div class="row">
        <div class="col-sm"></div>        
        <div class="col-sm traveller-signup-content">
            <h3><br> Create an Owner account</h3>
            <input id="new-seller-email" type="text" placeholder="Email address"><p id="newseller-email"></p>
            <input id="new-seller-firstname" type="text" placeholder="First Name"><p id="newseller-firstname"></p>
            <input id="new-seller-secondname" type="text" placeholder="Second Name"><p id="newseller-secondname"></p>
            <input id="new-seller-password" type="password" placeholder="Password"><p id="newseller-password"></p>
            <center><a href="{% url 'new-seller-details' %}"><button onclick="return new_seller_account_validate()" class="bg-danger universal-btn">Next</button></a></center>
        </div>
        <div class="col-sm"></div>
    </div>
  </div>

{% endblock %}