{% extends 'admin-header.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="booking">
                <center>
                    <h5 class="block-heading">User</h5>
                    <h4>Active users</h4>
                    <p>300</p>
                    <h4>Inactive users</h4>
                    <p>5</p>
                    <h4>Registered this month</h4>
                    <p>35</p>
                    <h4>Total users</h4>
                    <p>305</p>
                </center>
            </div>
        </div>
        <div class="col-6">
            <div class="booking">
                <center>
                    <h5 class="block-heading">Seller</h5>
                    <h4>Active sellers</h4>
                    <p>80</p>
                    <h4>Inactive sellers</h4>
                    <p>5</p>
                    <h4>Registered this month</h4>
                    <p>10</p>
                    <h4>Total sellers</h4>
                    <p>85</p>
                </center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="booking">
                <center>
                    <h5 class="block-heading">Properties</h5>
                    <h4>Active</h4>
                    <p>50</p>
                    <h4>Inactive</h4>
                    <p>10</p>
                    <h4>Entries this month</h4>
                    <p>20</p>
                    <h4>Total Properties</h4>
                    <p>60</p>
                </center>
            </div>
        </div>
        <div class="col-6">
            <div class="booking">
                <center>
                    <h5 class="block-heading">Bookings</h5>
                    <h4>Active</h4>
                    <p>10</p>
                    <h4>This month</h4>
                    <p>5</p>
                    <h4>Total bookings</h4>
                    <p>40</p>
                </center>
            </div>
        </div>
    </div>
    
</div>


{% endblock %}