{% extends 'admin-header.html' %}
{% load static %}
{% block content %}

<div>
    <br><h4>&ensp;Seller List</h4>
    <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Properties</th>
                    <th scope="col">Contact no.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>123@gmail.com</td>
                    <td>1</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>123@gmail.com</td>
                    <td>2</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>123@gmail.com</td>
                    <td>1</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>123@gmail.com</td>
                    <td>2</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>123@gmail.com</td>
                    <td>2</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>123@gmail.com</td>
                    <td>2</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>123@gmail.com</td>
                    <td>2</td>
                    <td>1234567890</td>
                  </tr>
                </tbody>
            </table>
      </div>
</div><hr>

<br><h4>&ensp;Reports</h4>
    <div class="table-responsive">
        <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Seller Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">No. of customers<br>reported</th>
                    <th scope="col">Reason</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>123@gmail.com</td>
                    <td>1</td>
                    <td>Spam</td>
                    <td><a class="btn block-btn" href="#" role="button">block</a></td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>123@gmail.com</td>
                    <td>2</td>
                    <td>Spam</td>
                    <td><a class="btn block-btn" href="#" role="button">block</a></td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>123@gmail.com</td>
                    <td>1</td>
                    <td>Spam</td>
                    <td><a class="btn block-btn" href="#" role="button">block</a></td>
                  </tr>
                </tbody>
        </table>
      </div>
</div>

{% endblock %}