{% extends 'admin-header.html' %}
{% load static %}
{% block content %}

<div>
    <br><h4>&ensp;Customer List</h4>
    <div class="table-responsive">
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Properties booked</th>
                    <th scope="col">Contact no.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>123@gmail.com</td>
                    <td>1</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>123@gmail.com</td>
                    <td>2</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>123@gmail.com</td>
                    <td>1</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>123@gmail.com</td>
                    <td>2</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>123@gmail.com</td>
                    <td>2</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>123@gmail.com</td>
                    <td>2</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>123@gmail.com</td>
                    <td>2</td>
                    <td>1234567890</td>
                  </tr>
                </tbody>
        </table>
      </div>
</div>

{% endblock %}