{% extends 'admin-header.html' %}
{% load static %}
{% block content %}

<br><br><h4><b>&ensp;List of Bookings</b></h4><br>
<div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Booking no.</th>
            <th scope="col">Property</th>
            <th scope="col">Customer</th>
            <th scope="col">Seller</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>24-01-2022</td>
            <td>57682</td>
            <td>Gravity Ville</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>22-01-2022</td>
            <td>57682</td>
            <td>Gravity Ville</td>
            <td>Jacob</td>
            <td>Jacob</td>
            <td>Complete</td>
          </tr>
          <tr>
            <td>22-01-2022</td>
            <td>57682</td>
            <td>Gravity Ville</td>
            <td>Larry</td>
            <td>Larry</td>
            <td>Complete</td>
          </tr>
          <tr>
            <td>22-01-2022</td>
            <td>57682</td>
            <td>Gravity Ville</td>
            <td>Jacob</td>
            <td>Jacob</td>
            <td>Complete</td>
          </tr>
          <tr>
            <td>22-01-2022</td>
            <td>57682</td>
            <td>Gravity Ville</td>
            <td>Jacob</td>
            <td>Jacob</td>
            <td>Complete</td>
          </tr>
          <tr>
            <td>22-01-2022</td>
            <td>57682</td>
            <td>Gravity Ville</td>
            <td>Jacob</td>
            <td>Jacob</td>
            <td>Complete</td>
          </tr>
        </tbody>
      </table>
</div>


{% endblock %}