{% extends 'header.html' %}
{% load static %}
{% block content %}
  <div class="container-fluid">
    <h2 class="grid-head">Choose the place that suits you</h2>
  </div>

  <div class="row grid"> 
    <div class="column">
      <a href="#"><img src="{% static 'images/pet.webp' %}" style="width:100%">
        <h5 id="grid-text">Pet Friendly</h5>
      </a>
      <a href="#"><img src="{% static 'images/hilly.webp' %}" style="width:100%">
        <h5 id="grid-text">Mountains</h5>
      </a>
    </div>
    <div class="column">
      <a href="#"><img src="{% static 'images/camp.webp' %}" style="width:100%">
        <h5 id="grid-text">Camps</h5>
      </a>
      <a href="#"><img src="{% static 'images/onthewater.webp' %}" style="width:100%">
        <h5 id="grid-text">On the water</h5>
      </a>
    </div>  
    <div class="column">
      <a href="#"><img src="{% static 'images/beach.jpg' %}" style="width:100%">
        <h5 id="grid-text">Beach</h5>
      </a>
      <a href="#"><img src="{% static 'images/pool.jpg' %}" style="width:100%">
        <h5 id="grid-text">Swimming Pools</h5>
      </a>
    </div>
    <div class="column">
      <a href="#"><img src="{% static 'images/island.jpg' %}" style="width:100%">
        <h5 id="grid-text">Island</h5>
      </a>
      <a href="#"><img src="{% static 'images/treehouse.jpg' %}" style="width:100%">
        <h5 id="grid-text">Tree House</h5>
      </a>
    </div>
  </div>

  <div>
    <div class="jumbotron">
      <h1 class="display-4">Want to be a <br>Seller??</h1>
      <p class="lead">List your property on WorldRentals and connect with millions of people whose purpose, taste and budget make your property the perfect place to stay.</p><br><br>
      <hr class="my-4">
      <h5>Grow your business with US</h5><br><br><br><br>
      <a class="btn btn-primary btn-lg" href="{% url 'seller-home' %}" role="button">Learn more</a>
    </div>
  </div>
  
  

{% endblock %}



