{% extends 'header.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm"></div>        
        <div class="col-sm traveller-signup-content">
            <h3><br> Create an Owner account</h3>
            <input type="text" placeholder="Email address">
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Second Name">
            <input type="password" placeholder="Password">
            <center><button class="bg-danger">Sign Up</button></center>
        </div>
        <div class="col-sm"></div>
    </div>
</div>


{% endblock %}